


<div class="content" role="main">
  <div class="spinner-border text-primary block-screen" *ngIf="isLoading"   role="status">
    <span class="sr-only" >Loading...</span>
  </div>

  <div class="container"
   infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScroll()">
    <div class="row" *ngFor="let item of repos.items">
      <div class="col-md-3 col-sm-4" >
          <img [src]="item.owner!=null ?item.owner.avatar_url : ''" [title]="item.owner.login" style="width:95%;height:95%;padding:2.5%;border:solid black"/>
      </div>
      <div class="col-md-9 col-sm-8" >
     <h4>{{item.name}} </h4>
    <p > {{item.description}}</p>

    <div style="padding-top:20px">
      <div class="card"> stars: {{item.stargazers_count}}</div>
      <div class="card"> issues:{{item.open_issues}}</div>
      <label>submitted {{item.timeInterval}} days ago by {{item.owner.login}}</label>

    </div>

      </div>
    </div>


  </div>



</div>



<!-- <router-outlet></router-outlet> -->
