<style>
  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;

    width: 200px;
    margin: 0 8px 16px;
    padding: 5px;
    display: inline;

    justify-content: center;

  }
</style>



<div class="content" role="main">

  <!-- Resources -->
  <h2>Resources</h2>
  <p>Here are some links to help you get started:</p>

  <div class="container"         
   infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="10"
  (scrolled)="onScroll()">
    <div class="row" *ngFor="let item of repos.items">
      <div class="col-md-3 col-sm-4" style="background-color: green; ">
          <img [src]="item.owner!=null ?item.owner.avatar_url : ''" style="width:95%;height:95%;padding:2.5%;border:solid black"/>
      </div>
      <div class="col-md-9 col-sm-8" style="background-color: yellow;">
     <h4>{{item.name}} </h4>
    <label style="display: block;"> {{item.description}}</label>

    <div style="padding-top:20px">
      <div class="card"> stars: {{item.stargazers_count}}</div>
      <div class="card"> issues:{{item.open_issues}}</div>
      <label>submitted {{item.timeInterval}} days ago by {{item.name}}</label>

    </div>

      </div>
    </div>


  </div>



</div>



<!-- <router-outlet></router-outlet> -->
